<ion-view title="About">
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshPage()" spinner="bubbles"></ion-refresher>
		<div class="list">
			<div class="item item-text-wrap" style="font-size: small">
				This application was created for me to get handy with HTML5/JS web development
				for mobile applications.<br />
				The application is free to use and the code is available open-source on
				<button class="button button-small button-light" ng-click="openGitHub()">GitHub</button>,
				so if you notice a bug you can report issues there
				or contribute yourself directly to improve the app!<br /><br />
				If you find this app useful, you can buy me a beer :)<br/>
				<button class="button button-small button-block button-light" ng-click="copyToClipboard('BTC', '12VL9oTrrnYwwoFkFUa35bXNWuasmNMU28')">BTC: 12VL9oTrrnYwwoFkFUa35bXNWuasmNMU28</button>
				<button class="button button-small button-block button-light" ng-click="copyToClipboard('LTC', 'LTN8L4GxppDQ16sUtCawVPFhc8CoGzQLev')">LTC: LTN8L4GxppDQ16sUtCawVPFhc8CoGzQLev</button>
			</div>
			<div class="item item-divider item-dark">Front-End</div>
			<div class="item">
				<div class="row">
					<div class="col">Ionic Mobile App</div>
					<div class="col">{{appVersion}}</div>
				</div>
				<div class="row" ng-hide="!checkingNewVersions">
					<div class="col">Checking new app versions...</div>
				</div>
				<div class="row" ng-hide="checkingNewVersions||newVersionAvailable">
					<div class="col">You have the latest version</div>
				</div>
				<div class="row" ng-hide="isUpdating||!newVersionAvailable">
					<div class="col"><button class="button button-dark button-bar" ng-click="doUpdate()" ng-disabled="isUpdating">New version available! Click to update.</button></div>
				</div>
				<div class="row" ng-hide="!isUpdating">
					<div class="col"><progress max="100" value="{{updateProgress}}"> </progress></div>
				</div>
			</div>
			<div class="item item-divider item-dark">Back-End (Load Balancing)</div>
			<div class="item item-stable" style="height:30px;padding:0">
				<div class="row">
					<div class="col-60">URL</div>
					<div class="col-20">API</div>
					<div class="col-20">KOC</div>
				</div>
			</div>
			<div class="item item-text-wrap" ng-hide="endpoints.length">
				<div class="row">
					<div class="col">Loading...</div>
				</div>
			</div>
			<div class="item item-text-wrap" ng-repeat="endpoint in endpoints">
				<div class="row">
					<div class="col-60">{{endpoint.url}}</div>
					<div class="col-20">{{endpoint.api}}</div>
					<div class="col-20">{{endpoint.koc}}</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
