<ion-view title="Armory" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-tabs class="has-header tabs-striped tabs-bottom tabs-background-dark tabs-light">

  <ion-tab title="Buy Weapons">

    <button class="button btn-rectangle btn-float" ng-hide="buyTotal<=0" ng-click="buyWeapons()" ng-disabled="disableActions">
      Buy ({{buyTotal|number:0}})
    </button>

  <ion-content style="background-color:black;">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="reloadArmory()"></ion-refresher>
    <div ng-hide="!armoryError.length" class="error center">{{armoryError}}</div>
    <div class="list">
      <!-- Buy Weapons -->
      <div ng-repeat="weaponType in weaponTypes">
        <div ng-hide="!armory.buyWeapons[weaponType].length">
          <div class="item item-divider item-dark">{{weaponType}}</div>
          <div class="item item-stable" style="height:30px;padding:5px;">
            <div class="row" style="height:30px;padding:0px;">
              <div class="col col-33" style="height:30px;padding:0px;">Weapon Name</div>
              <div class="col col-33" style="height:30px;padding:0px;">Strength</div>
              <div class="col col-33" style="height:30px;padding:0px;">Unit Price</div>
            </div>
          </div>
          <div class="item item-text-wrap" ng-repeat="weapon in armory.buyWeapons[weaponType]">
            <div class="row">
              <div class="col col-33">{{weapon.name}}</div>
              <div class="col col-33">{{weapon.strength|number:0}}</div>
              <div class="col col-33">{{weapon.price|number:0}}</div>
            </div>
            <div class="row">
              <div class="col col-33" style="text-align:right;">
                <button class="button button-small button-stable" ng-disabled="disableActions" ng-click="buyWeaponQuantity(weapon,-100)">-100</button>
                <button class="button button-small button-stable" ng-disabled="disableActions" ng-click="buyWeaponQuantity(weapon,-10)" >-10 </button>
                <button class="button button-small button-stable" ng-disabled="disableActions" ng-click="buyWeaponQuantity(weapon,-1)"  >-1  </button>
              </div>
              <div class="col col-33" style="text-align:center;">
                 {{weapon.inputValue|number:0}} ({{weapon.inputValue*weapon.price|number:0}} Gold)
              </div>
              <div class="col col-33" style="text-align:left;">
                <button class="button button-small button-stable" ng-disabled="disableActions" ng-click="buyWeaponQuantity(weapon,+1)"  >+1  </button>
                <button class="button button-small button-stable" ng-disabled="disableActions" ng-click="buyWeaponQuantity(weapon,+10)" >+10 </button>
                <button class="button button-small button-stable" ng-disabled="disableActions" ng-click="buyWeaponQuantity(weapon,+100)">+100</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider item-stable">
        <div class="error center" ng-hide="buyTotal<stats.gold">More than you seem to be able to afford!</div>
        <button class="button button-block button-dark" ng-disabled="disableActions" ng-click="buyWeapons()" ng-disabled="buyTotal<1">Buy Weapons For {{buyTotal|number:0}} Gold</button>
      </div>
    </div>
  </ion-content>

  </ion-tab>

  <ion-tab title="Current Inventory">

  <ion-content style="background-color:black;">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="reloadArmory()"></ion-refresher>
    <div ng-hide="!armoryError.length" class="error center">{{armoryError}}</div>
    <div class="list">
      <!-- Current Inventory -->
      <div ng-repeat="weaponType in weaponTypes">
        <div ng-hide="!armory.currentWeapons[weaponType].length">
          <div class="item item-divider item-dark">{{weaponType}}</div>
          <div class="item item-stable" style="height:30px;padding:5px;">
            <div class="row" style="height:30px;padding:0px;">
              <div class="col col-33" style="height:30px;padding:0px;">Weapon Name</div>
              <div class="col col-33" style="height:30px;padding:0px;">Quantity</div>
              <div class="col col-33" style="height:30px;padding:0px;">Strength</div>
            </div>
          </div>
          <div class="item item-text-wrap" ng-repeat="weapon in armory.currentWeapons[weaponType]">
            <div class="row">
              <div class="col col-33">{{weapon.name}}</div>
              <div class="col col-33">{{weapon.quantity}}</div>
              <div class="col col-33">{{weapon.strength}}</div>
            </div>
            <div class="row">
              <div class="col col-33" style="text-align:right;">
                <button class="button button-small button-stable" ng-disabled="disableActions" ng-click="sellWeaponQuantity(weapon,-100)">-100</button>
                <button class="button button-small button-stable" ng-disabled="disableActions" ng-click="sellWeaponQuantity(weapon,-10)" >-10 </button>
                <button class="button button-small button-stable" ng-disabled="disableActions" ng-click="sellWeaponQuantity(weapon,-1)"  >-1  </button>
              </div>
              <div class="col col-33" style="text-align:center;">
                <button class="button button-small button-dark" ng-disabled="disableActions" ng-click="sellWeapon(weapon)">Sell {{sellWeapons[weapon.name]||1 | number:0}} For {{weapon.sell.price*(sellWeapons[weapon.name]||1)|number:0}} Gold</button>
              </div>
              <div class="col col-33" style="text-align:left;">
                <button class="button button-small button-stable" ng-disabled="disableActions" ng-click="sellWeaponQuantity(weapon,+1)"  >+1  </button>
                <button class="button button-small button-stable" ng-disabled="disableActions" ng-click="sellWeaponQuantity(weapon,+10)" >+10 </button>
                <button class="button button-small button-stable" ng-disabled="disableActions" ng-click="sellWeaponQuantity(weapon,+100)">+100</button>
              </div>
            </div>
            <div class="row" ng-hide="weapon.repair===undefined">
              <div class="col col-33" style="text-align:right;">
                <input type="number" ng-model="weapon.repair.defaultValue" style="text-align: right;" />
              </div>
              <div class="col col-67">
                <button class="button button-small button-dark" ng-disabled="disableActions" ng-click="repairWeapon(weapon)">Repair {{weapon.repair.defaultValue|number:2}} For {{weapon.repair.pricePerPoint*(weapon.repair.defaultValue)|number:0}} Gold</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-hide="armory.repairAll===undefined">
        <div class="item item-divider item-stable">
          <button class="button button-block button-dark" ng-disabled="disableActions" ng-click="repairAll()">Repair all weapons for {{armory.repairAll.price|number:0}} Gold</button>
        </div>
      </div>

      <div class="item item-divider item-dark">Fortification</div>
      <div class="item item-stable">
        <div class="row">
          <div class="col center">{{armory.upgrades.fortification.current}}</div>
        </div>
        <div class="row">
          <div class="col center">
            <button class="button button-small button-dark" ng-disabled="disableActions" ng-click="upgradeFortification()">{{armory.upgrades.fortification.next}}</button>
          </div>
        </div>
      </div>

      <div class="item item-divider item-dark">Siege Technology</div>
      <div class="item item-stable">
        <div class="row">
          <div class="col center">{{armory.upgrades.siegeTechnology.current}}</div>
        </div>
        <div class="row">
          <div class="col center">
            <button class="button button-small button-dark" ng-disabled="disableActions" ng-click="upgradeSiegeTechnology()">{{armory.upgrades.siegeTechnology.next}}</button>
          </div>
        </div>
      </div>

    </div>
  </ion-content>

  </ion-tab>

</ion-tabs>


</ion-view>
