<ion-view view-title="Command Center">

  <ion-content style="background-color:black;">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="reloadBase()"></ion-refresher>
    <div ng-hide="!baseError.length" class="error center">{{baseError}}</div>
    <div class="list">
      <div ng-hide="!base.recentAttacksOnYou.length">
        <div class="item item-divider item-dark">Recent Attacks On You</div>
        <div class="item item-text-wrap" ng-repeat="recentAttack in base.recentAttacksOnYou" ng-click="showUserStats(recentAttack.enemy.userid)" style="padding:0">
          <div class="row" style="padding:0">
            <div class="col col-25">{{recentAttack.date}}</div>
            <div class="col col-50">{{recentAttack.enemy.username}}</div>
            <div class="col col-25" style="text-align: right;">
							{{getGoldStolen(recentAttack.result)}}
            	<span class="ion-chevron-right"></span>
						</div>
          </div>
        </div>
      </div>
      <div>
        <div class="item item-divider item-dark">User Info</div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col col-50">Name</div>
            <div class="col col-50">{{base.userInfo.username}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Race</div>
            <div class="col col-50">{{base.userInfo.race}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Rank</div>
            <div class="col col-50">{{base.userInfo.rank}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Highest Rank</div>
            <div class="col col-50">{{base.userInfo.highestRank}}</div>
          </div>
          <div class="row" ng-click="showUserStats(base.userInfo.commander.userid)">
            <div class="col col-50">Commander</div>
            <div class="col col-50">{{base.userInfo.commander.username||"None"}}</div>
            <div class="ion-chevron-right" ng-hide="!base.userInfo.commander.username.length"></div>
          </div>
          <div class="row" ng-hide="!canChangeCommander || !base.userInfo.commander.username.length">
            <button class="button button-block button-dark" ng-click="ditchCommander()">Ditch my commander!</button>
          </div>
        </div>
      </div>
      <div>
        <div class="item item-divider item-dark">Personnel</div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col col-75">Trained Attack Soldiers</div>
            <div class="col" style="text-align: right;">{{base.personnel.trainedAttackSoldiers}}</div>
          </div>
          <div class="row">
            <div class="col col-75">Trained Attack Mercenaries</div>
            <div class="col" style="text-align: right;">{{base.personnel.trainedAttackMercenaries}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col col-75">Trained Defense Soldiers</div>
            <div class="col" style="text-align: right;">{{base.personnel.trainedDefenseSoldiers}}</div>
          </div>
          <div class="row">
            <div class="col col-75">Trained Defense Mercenaries</div>
            <div class="col" style="text-align: right;">{{base.personnel.trainedDefenseMercenaries}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col col-75">Untrained Soldiers</div>
            <div class="col" style="text-align: right;">{{base.personnel.untrainedSoldiers}}</div>
          </div>
          <div class="row">
            <div class="col col-75">Untrained Mercenaries</div>
            <div class="col" style="text-align: right;">{{base.personnel.untrainedMercenaries}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col col-75">Spies</div>
            <div class="col" style="text-align: right;">{{base.personnel.spies}}</div>
          </div>
          <div class="row">
            <div class="col col-75">Sentries</div>
            <div class="col" style="text-align: right;">{{base.personnel.sentries}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col col-75">Army Morale</div>
            <div class="col" style="text-align: right;">{{base.personnel.armyMorale}}</div>
          </div>
          <div class="row">
            <div class="col col-75">Total Fighting Force</div>
            <div class="col" style="text-align: right;">{{base.personnel.totalFightingForce}}</div>
          </div>
        </div>
      </div>
      <div>
        <div class="item item-divider item-dark">Military Overview</div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col col-50">Fortification</div>
            <div class="col">{{base.militaryOverview.fortification}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Siege Technology</div>
            <div class="col">{{base.militaryOverview.siegeTechnology}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col col-50">Economy</div>
            <div class="col">{{base.militaryOverview.economy}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Technology</div>
            <div class="col">{{base.militaryOverview.technology}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col">Conscription</div>
            <div class="col">{{base.militaryOverview.conscription}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col">Available Funds</div>
            <div class="col">{{base.militaryOverview.availableFunds}}</div>
          </div>
          <div class="row">
            <div class="col">Projected Income</div>
            <div class="col">{{base.militaryOverview.projectedIncome}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col">Game Turns</div>
            <div class="col">{{base.militaryOverview.gameTurns}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col">Covert Level</div>
            <div class="col">{{base.militaryOverview.covertLevel}}</div>
          </div>
        </div>
      </div>
      <div>
        <div class="item item-divider item-dark">Military Effectiveness</div>
				<div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col col-50">Strike Action</div>
            <div class="col" style="text-align: right;">{{base.militaryEffectiveness.strikeAction}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Rank</div>
            <div class="col" style="text-align: right;">{{base.militaryEffectiveness.strikeActionRank}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col col-50">Defensive Action</div>
            <div class="col" style="text-align: right;">{{base.militaryEffectiveness.defensiveAction}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Rank</div>
            <div class="col" style="text-align: right;">{{base.militaryEffectiveness.defensiveActionRank}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col col-50">Spy Rating</div>
            <div class="col" style="text-align: right;">{{base.militaryEffectiveness.spyRating}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Rank</div>
            <div class="col" style="text-align: right;">{{base.militaryEffectiveness.spyRatingRank}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row">
            <div class="col col-50">Sentry Rating</div>
            <div class="col" style="text-align: right;">{{base.militaryEffectiveness.sentryRating}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Rank</div>
            <div class="col" style="text-align: right;">{{base.militaryEffectiveness.sentryRatingRank}}</div>
          </div>
        </div>
      </div>
      <div ng-hide="!base.previousLogins.length">
        <div class="item item-divider item-dark">Previous Logins</div>
        <div class="item item-text-wrap" style="padding: 0;">
          <div class="row" ng-repeat="previousLogin in base.previousLogins" style="padding: 0;">
            <div class="col col-33 center" style="padding: 0;">{{previousLogin.ip}}</div>
            <div class="col col-33 center" style="padding: 0;">{{previousLogin.date}}</div>
            <div class="col col-33 center" style="padding: 0;">{{previousLogin.success}}</div>
          </div>
        </div>
      </div>

      <div ng-hide="!base.raceChangesLeft>0">
        <div class="item item-divider item-dark">Change Race</div>
        <div class="item" align="center" style="background-color:black;color:white;">
          You can change your race <b>{{base.raceChangesLeft}}</b> more times.<br /><br />
          Current Race: {{base.userInfo.race}}<br />
          <div ng-repeat="feature in currentRaceFeatures">{{feature}}</div>
          <div class="error center" ng-hide="!racesError.length">{{racesError}}</div>
          <br />
          Choose a new race to see its characteristics<br />
          <span ng-repeat="race in races">
              <button class="button button-small"
                ng-class="{'button-dark': selectedRace==race}"
                ng-click="selectRace(race)"
                ng-hide="base.userInfo.race==race.race">{{race.race}}</button>
          </span>
          <div ng-hide="selectedRace===undefined">
            <br />
            <img ng-src="{{kocHost}}{{selectedRace.image}}" />
            <br />
            <b>{{selectedRace.description}}</b>
            <br />
            <div ng-repeat="feature in selectedRace.features">{{feature}}</div>
            <br />
            <button class="button button-block button-dark" ng-click="changeRace()">Change to {{selectedRace.race}}</button>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
