<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<title>Kings of Chaos :: Inbox</title>
	<link rel="icon" href="http://www.kingsofchaos.com/favicon.ico" />
	<link rel="shortcut icon" href="http://www.kingsofchaos.com/favicon.ico" />
	<link href="/images/css/common.css" rel="stylesheet" type="text/css" />
	<link href="/images/css/Orcs.css" rel="stylesheet" type="text/css" />
	<link type="text/css" href="/inviter/res/style.css" rel="stylesheet" />
	<script src="/images/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://w.sharethis.com/widget/?tabs=web%2Cpost&amp;charset=utf-8&amp;style=rotate&amp;publisher=61b27ec8-6172-4261-a2f9-f5eed4bfffcb&amp;linkfg=%23545e7d"></script>
	<script src="//ads.lfstmedia.com/getad?site=265031" type="text/javascript"></script>
	<META name="verify-v1" content="W8cx8aSLkZX2ZC64sipZmhlBY149culcmvlJ0orWkAA=" />

	<script language="javascript">
<!--
function newcap()
{
	thesrc = "/chk/turing.image.php";
	newsrc = thesrc+"?"+Math.round(Math.random()*100000);

	document.getElementById('curcap').src = newsrc;

	if (document.getElementById('curcap2'))
		document.getElementById('curcap2').src = newsrc;
	if (document.getElementById('curcap3'))
		document.getElementById('curcap3').src = newsrc;
}
    function openchatwin() {
            var popurl="chat/";
            winpops=window.open(popurl,"","width=750,height=550");
    }

	function checksize() {
		var myWidth = 0, myHeight = 0;
		if( typeof( window.innerWidth ) == 'number' ) {
			//Non-IE
			myWidth = window.innerWidth;
			myHeight = window.innerHeight;
		} else if( document.documentElement &&
				( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
			//IE 6+ in 'standards compliant mode'
			myWidth = document.documentElement.clientWidth;
			myHeight = document.documentElement.clientHeight;
		} else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
			//IE 4 compatible
			myWidth = document.body.clientWidth;
			myHeight = document.body.clientHeight;
		}

		if (myWidth != '1197' || myHeight != '1091')
			document.write("<img width=1 height=1 src=\"/setres.php?height=" + myHeight + "&width=" + myWidth + "\">");
	}

	if (top.frames.length > 0)
		top.location = self.location;
	if (top != self)
		top.location=self.location;    
	
	document.domain = 'kingsofchaos.com';
-->
</script>

	<META NAME="keywords" CONTENT="kingsofchaos, chaos, elves, humans, dwarves, orcs, rpg, mmorpg, role playing, game, online game, text based game, armory, mercenaries, spy, attack, army, battle, recruit, spies, spy skill, weapons, messaging, sabotage, recon, intelligence, pnp, mud, games, stockade, free, browser game">
	<META NAME="description" CONTENT="Build your army, conquer your enemies, become a King of Chaos!">
	<META NAME="author" CONTENT="Kings of Chaos">

	<script language="javascript" type="text/javascript">
	function checkCR(evt) {
	  var evt = (evt) ? evt : ((event) ? event : null);
	  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
	  if ((evt.keyCode == 13) && (node.type=="text") && (node.id != 'recaptcha_response_field') && (node.id != "box")) {
      return false;
    }
	}
	document.onkeypress = checkCR;
	</script>
</head>
<body bgcolor="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" text="#FFFFFF" onload="if (box = document.getElementById('box')) box.focus();">
<span style="position: absolute; right: 2; top: 2; z-index:10;font-size:x-small; color:#999999;"></span>
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="164" background="/images/main/small_repeater.jpg">
	<tr>
		<td valign="top" align="center" >
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="/images/Orcs/small_topbanner_01.gif"></td>
					<td><img src="/images/Orcs/small_topbanner_02.gif"></td>
					<td><img src="/images/Orcs/small_topbanner_03.gif"></td>
				</tr>
				<tr>
					<td><a href="http://www.kingsofchaos.com/"><img alt="Main" src="/images/Orcs/small_topbanner_04.gif"></a></td>
					<td><a href="http://www.kingsofchaos.com/"><img alt="  K  " src="/images/Orcs/small_topbanner_05.jpg"></a></td>
					<td><a href="http://www.giveupalready.com/forumdisplay.php?f=31" target="_new"><img alt="Forum" src="/images/Orcs/small_topbanner_06.gif"></a></td>
				</tr>
				<tr>
					<td><a href="battlefield.php?start=0"><img alt="Rankings" src="/images/Orcs/small_topbanner_07.gif"></a></td>
					<td><a href="http://www.kingsofchaos.com/"><img alt="  o  " src="/images/Orcs/small_topbanner_08.jpg"></a></td>
					<td><a href="javascript: openchatwin()"><img alt="Chat" src="/images/Orcs/small_topbanner_09.gif"></a></td>
				</tr>
				<tr>
					<td><a href="help.php#Messages"><img alt="Help" src="/images/Orcs/small_topbanner_10.gif"></a></td>
					<td><a href="http://www.kingsofchaos.com/"><img alt="  f  " src="/images/Orcs/small_topbanner_11.jpg"></a></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><img src="/images/Orcs/small_topbanner_13.gif"></td>
					<td><a href="http://www.kingsofchaos.com/"><img alt="  C  " src="/images/Orcs/small_topbanner_14.gif"></a></td>
					<td><img src="/images/Orcs/small_topbanner_15.gif"></td>
				</tr>
			</table>
		</td>
		<td valign="top" style="padding-top: 25px;">
			<script type="text/javascript">
    //<![CDATA[
        LSM_Slot({
            adkey: '1e4',
            ad_size: '728x90',
            slot: 'slot124598'
        });
    //]]>
</script>
		</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td width="140" class="menu_cell" style="padding-left: 10px;" valign="top">
			<table width="137" border="0" cellspacing="0" cellpadding="0">
				<tr><td><img src="/images/menubar/age18.gif?v2" width="137" height="56"></td></tr>
				<tr><td><a href="base.php"><img alt="Command Center" border="0" src="/images/menubar/menulinks_02.gif" width="137" height="28"></a></td></tr>
				<tr><td id="attack_nav"><a href="attack.php"><img alt="Attack" border="0" src="/images/menubar/menulinks_03.gif" width="137" height="22"></a></td></tr>
				<tr><td><a href="attacklog.php"><img alt="Attack Log" border="0" src="/images/menubar/menulinks_04.gif" width="137" height="27"></a></td></tr>
				<tr><td id="conquest_nav"><a href="conquest.php"><img alt="Conquest" border="0" src="/images/menubar/menubar_conquest.gif" width="137" height="22"></a></td></tr>
				<tr><td id="armory_nav"><a href="armory.php"><img alt="Armory" border="0" src="/images/menubar/menulinks_05.gif" width="137" height="22"></a></td></tr>
				<tr><td><a href="alliances.php"><img alt="Alliances" border="0" src="/images/menubar/menubar_alliance.gif" width="137" height="22"></a></td></tr>
				<tr><td><a href="train.php"><img alt="Training" border="0" src="/images/menubar/menulinks_06.gif" width="137" height="25"></a></td></tr>
				<tr><td><a href="intel.php"><img alt="Intelligence" border="0" src="/images/menubar/menulinks_07.gif" width="137" height="22"></a></td></tr>
				<tr><td><a href="recruit.php"><img alt="Recruit" border="0" src="/images/menubar/menubar_recruit.gif" width="137" height="22"></a></td></tr>
				<tr><td><a href="mercs.php"><img alt="Mercenaries" border="0" src="/images/menubar/menulinks_09.gif" width="137" height="23"></a></td></tr>
				<tr><td><a href="buddylist.php"><img alt="Buddy List" border="0" src="/images/menubar/menubar_buddylist.gif" width="137" height="22"></a></td></tr>
				<tr><td><a href="logout.php"><img alt="Logout" border="0" src="/images/menubar/logoutbutton.gif" width="137"></a></td></tr>
			</table>
			<p>
			<center>
				<style>
					span.textad, span.textad a {
					font-size: 8pt;
					}
				</style>
		<span class="textad">
				Bored? Play <a href="flashgames.php" style="font-size: 8pt;">Flash Games</a>
			</font>
			</center>
			<p>
			<table width="137" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><img src="/images/menubar/menubox_top.gif"></td>
				</tr>
				<tr>
					<td align="center" valign="top" class="menu_cell_repeater_vert" style="padding-left: 8px; padding-right: 8px;">
						<table cellspacing="3" cellpadding="1" width="100%">
							<tr>
								<td align="center" colspan = 2 style="color: BLACK; font-size: 8pt;">Gold:<font color="#250202">
									14,621

								</font></td>
							</tr>

							<tr>
								<td align="right" style="color: BLACK; font-size: 8pt;">Experience:</td><td style="font-size: 8pt"><font color="#250202">
								250
							</font></td>
							</tr>

							<tr>
								<td align="right" style="color: BLACK;font-size: 8pt;">Turns:</td><td style="font-size: 8pt"><font color="#250202">1,402</font></td>        			</tr>

							<tr>
								<td align="right" style="color: BLACK;font-size: 8pt;" width="30%">Rank:</td><td width="70%" style="font-size: 8pt"><font color="#250202">1,355</font></td>
							</tr>
							<tr>
								<td align="center" colspan = 2 style="color: BLACK; font-size: 8pt;">Last Attacked:<br /> <font color="#250202">never</td>
							</tr>
							<tr>
								<td align="right" colspan=2 style="color: BLACK; font-size: 8pt;">Mail:<a href="inbox.php" style="font-size: 9pt; color: BLACK;">2</font></a> <font color="black" style="font-size: 7pt;">(<a style="font-size: 7pt;" href="inbox.php">read</a>)</font></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><img src="/images/menubar/menubox_bottom.gif"></td>
				</tr>
			</table>
			<p>
				<center>
			<p>
				<a href="http://www.spreadfirefox.com/?q=affiliates&amp;id=8415&amp;t=71"><img border="0" alt="Get Firefox!" title="Get Firefox!" src="/images/safer.gif"/></a><br>
			<p>
				<script type="text/javascript" language="javascript1.2">
			checksize();
		</script>
				</center>
		</td>
		<td style="padding-left: 10px; padding-top: 5px; padding-right: 5px;" valign="top" align="left" class="content">
			<h3>Inbox</h3>
			<font color="red"></font>
			<p>
			<p>
			<table width="100%" border="0">
				<tr>
					<td width="50%">You have<a href="inbox.php"><font size="4" color="RED"> 0</font></a> new messages.</td>
					<td width="50%" align="right">
						<form action="inbox.php" method="post">
							<input type="hidden" name="delete_all_to_messages" value="true">
							<input type="submit" value="Delete Entire Inbox">
							<input type="hidden" name="hash" value="">
						</form>
					</td>
				</tr>
			</table>
			<p>
				<table width="100%" bgcolor="#000000" border="0" cellspacing="6" cellpadding="6">
					<tr>
						<th>From</th>
						<th>Subject</th>
						<th colspan="2">Sent</th>
						<th>Reply</th>
						<th>Ignore User</th>
						<th>Delete</th>
					</tr>
					<tr>
						<td style="color:red;"><b>Koc Admins</b></td>
						<td style="color:red;">Attempts at Hacking</td>
						<td style="color:red;" align="center" colspan="5">Official Kings of Chaos Message</td>
					</tr>
					<tr>
						<td style="padding-left: 30px; padding-right: 30px;" width="100%" colspan="7">
							<table width="100%" bgcolor="#888888" style="border: 2px solid red;" cellspacing="0" cellpadding="6">
								<tr>
									<td bgcolor="#111111" colspan="4"><p style="padding-left: 15px; color:red;">Messages from the KoC Admins will show up in red. Any other messages claiming to be from the admins are fake.</p></td>
	</tr>
</table>
</td>
</tr>
<tr>
	<td>
		<a href="stats.php?id=4465753">FearlessOrc</b>
	</td>
	<td>None</td>
	<td align="right">2</td>
	<td align="left">minutes ago</td>
	<td align="center" valign="middle">
		<form action="writemail.php" method="get">
			<input type="hidden" name="to" value="4465753">
			<input type="hidden" name="subject" value=" ">
			<input type="hidden" name="reply_to_message_id" value="123456">
			<input type="submit" name="reply" value="Reply">
		</form>
	</td>
	<td align="center" valign="middle">
		<form action="addbuddy.php" method="post">
			<input type="hidden" name="user_id" value="4465753">
			<input type="hidden" name="buddy_type" value="ignored">
			<input type="submit" value="Ignore User">
			<input type="hidden" name="hash" value="">
		</form>
	</td>
	<td align="center" valign="middle">
		<form action="inbox.php" method="post">
			<input type="hidden" name="delete_to_message[123456]" value="true">
			<input type="submit" value="Delete">
			<input type="hidden" name="hash" value="">
		</form>
	</td>
</tr>
<tr>
	<td style="padding-left: 30px; padding-right: 30px" width="100%" colspan="7">
		<table width="100%" bgcolor="#888888" cellspacing="0" cellpadding="6">
			<tr>
				<td style="border: 1px solid #888888" bgcolor="#111111" colspan="4"><p style="padding-left: 15px;">Hey mate I see that you just started playing.<br />
					<br />
					Are you a new or a returning player?<br />
					Lots of people are going to ask you to join them, but most don't really know how to play the game.<br />
					<br />
					So if you want to learn how to play or improve your KoC skills then I am your man.<br />
					<br />
					- I have played a top account every age (look at the rankings of previous age!). This age I am playing the head account of our alliance.<br />
					- I have been top slayer in KoC<br />
					- I have years of experience of training new players.<br />
					<br />
					To make me your commander click this link and follow the instructions on the page:<br />
					http://www.kingsofchaos.com/commander_change.php?new_commander_id=4465753<br />
					<br />
					Any more questions let me know, I look forward to working with you :)<br />
					<br />
					fearlessOrc</p></td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<a href="stats.php?id=4157260">CP_Bloodpirate_DES</b>
	</td>
	<td>None</td>
	<td align="right">4</td>
	<td align="left">hours ago</td>
	<td align="center" valign="middle">
		<form action="writemail.php" method="get">
			<input type="hidden" name="to" value="4157260">
			<input type="hidden" name="subject" value=" ">
			<input type="hidden" name="reply_to_message_id" value="456123">
			<input type="submit" name="reply" value="Reply">
		</form>
	</td>
	<td align="center" valign="middle">
		<form action="addbuddy.php" method="post">
			<input type="hidden" name="user_id" value="4157260">
			<input type="hidden" name="buddy_type" value="ignored">
			<input type="submit" value="Ignore User">
			<input type="hidden" name="hash" value="">
		</form>
	</td>
	<td align="center" valign="middle">
		<form action="inbox.php" method="post">
			<input type="hidden" name="delete_to_message[456123]" value="true">
			<input type="submit" value="Delete">
			<input type="hidden" name="hash" value="">
		</form>
	</td>
</tr>
<tr>
	<td style="padding-left: 30px; padding-right: 30px" width="100%" colspan="7">
		<table width="100%" bgcolor="#888888" cellspacing="0" cellpadding="6">
			<tr>
				<td style="border: 1px solid #888888" bgcolor="#111111" colspan="4"><p style="padding-left: 15px;">you need soldiers, you can not be given them .. BUT .. i can help you get them<br />
					<br />
					welcome to kingsofchaos. a war game played with virtual gold. only your time and the fun we have is real. we are the only true war alliance. most others are "rankers". we have never lost a war. in war communications is key and information is power. therefore our scripts are better than any others in the game. our best feature is NO "made up rules". all other big alliances have rules they want you to follow. we laugh at their rules.<br />
					<br />
					are you waiting for the new age like we are? how about preparing for it like us.. preparation is crucial to all wars. if you aren't prepared, you will loose.<br />
					we have numerous veterans from all alliances in koc who were fed up with following made up rules. some might call us rebels. and just to be clear, we aren't an alliance of rogues. we are always looking for new players with new ideas to help win wars. some of our best warriors are new members like yourself. dedication and loyalty is what we want in members.<br />
					we are here to support you as much as we hope you will help us .. we have members from all around the world. if you have any questions, please ask me.<br />
					<br />
					what I will do for you. if you are a new player, i will first teach you the basics of the game. then the finer points, to make you stronger faster than any other person can. how? i am retired and dedicated to the game. so, with my skill set, i will find you the best gold to steal on the battlefield, that will make you grow stronger. the stronger you get, the more fun the game will become. remember i am here to help and support you, so in the future you will help and support us and others. if you are an experienced player, we will accept the challenge of making you a more knowledgeable and therefore a better player.<br />
					<br />
					best of luck and have fun<br />
					bloodpirate</p></td>
			</tr>
		</table>
	</td>
</tr>
<tr><td colspan="7" align="center">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
		<tr>
			<td style="border:none; align:left;">&lt;&lt; Back</td>
			<td	align="center" style="border:none;">2 messages total | page 1 of 1</td>
			<td style="border:none;" align="right">Next &gt;&gt;</td>
		</tr></table>
</td></tr>
</table>
<p>
<table width="100%" border="0">
	<tr>
		<td width="50%"><h3>Outbox</h3></td>
		<td width="50%" align="right">
			<form action="inbox.php" method="post">
				<input type="hidden" name="delete_all_from_messages" value="true">
				<input type="submit" value="Delete Entire Outbox">
				<input type="hidden" name="hash" value="">
			</form>
		</td>
	</tr>
</table>
<p>
<table width="100%" bgcolor="#000000" border="0" cellspacing="6" cellpadding="6">
	<tr>
		<th>To</th>
		<th>Subject</th>
		<th colspan="2">Sent</th>
		<th>Read?</th>
		<th>Delete</th>
	</tr>
	<tr><td colspan="6" align="center">You have no messages in your Outbox.</td></tr>
	<tr><td colspan="6" align="center">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
			<tr>
				<td style="border:none; align:left;">&lt;&lt; Back</td>
				<td	align="center" style="border:none;">0 messages total | page 1 of 1</td>
				<td style="border:none;" align="right">Next &gt;&gt;</td>
			</tr></table>
	</td></tr>
</table>
<p>
	<center>
<p>
<p>
	<font style="font-size: 8pt;">
		<a href="spam.php">Report Spam</a> | <a href="privacy.php">Privacy Policy</a> | <a href="mailto:%62%69%7a%64%65%76%40%6b%69%6e%67%73%6f%66%63%68%61%6f%73%2e%63%6f%6d">Business Queries</a> | <a href="tos.php">Terms of Service</a>
<p>
	<i>Copyright &copy; 2003-2012 Kings of Chaos, LLC. All rights reserved.<br>Kings of Chaos &reg; is a registered trademark of Kings of Chaos, LLC.</i><br>
	</font>
	</center>
	</td>
<td valign="top" align="center" width="120" style="padding-top: 11px">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td><img src="/images/menubar/skyscraper_top.gif"></td>
		</tr>
		<tr>
			<td align="center" class="menu_cell_repeater_vert">
				<script type="text/javascript">
    //<![CDATA[
        LSM_Slot({
            adkey: '034',
            ad_size: '160x600',
            slot: 'slot124597'
        });
    //]]>
</script>
			</td>
		</tr>
		<tr>
			<td><img src="/images/menubar/skyscraper_bottom.gif"></td>
		</tr>
	</table>
</td>
</tr>
</table>
<!-- Start Quantcast tag -->
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
<script type="text/javascript">_qacct="p-a6NrObxziz_36";quantserve();</script>
<noscript>
	<a href="http://www.quantcast.com/p-a6NrObxziz_36" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-a6NrObxziz_36.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/></a>
</noscript>
<!-- End Quantcast tag -->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
  _uacct = "UA-75146-1";
  urchinTracker();
</script>

</body>
</html>