<ion-view view-title="Messages" hide-back-button="true">

	<ion-content
		style="background-color: #000000" >
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="reloadInbox()" spinner="bubbles"></ion-refresher>
		<div ng-hide="!inboxError.length" class="error center">{{inboxError}}</div>
		<div class="list">
			<div ng-repeat="message in inbox.messages"
					 class="item item-text-wrap item-dark"
					 style="background-color: #000000; color: #ffffff"
					 ng-click="showMessage(message)">
				<div class="row">
					<div class="col-33">{{message.from.username}}</div>
					<div class="col-67">{{message.when}}</div>
				</div>
				<div class="row">
					<div>{{message.subject}}</div>
				</div>
			</div>
			<div class="item item-center item-dark"
					 style="background-color: #000000; color: #ffffff"
					 ng-hide="inbox.messages.length>0||inboxError.length>0||disableActions">
					<div class="row">
						<div class="col col-center">No message</div>
					</div>
				</div>
			</div>
			<div class="item item-center item-dark"
					 style="background-color: #000000; color: #ffffff"
					 ng-hide="!disableActions">
					<div class="row row-center">
						<div class="col col-center">Loading...</div>
					</div>
			</div>
		</div>
	</ion-content>
</ion-view>
