<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-dark nav-title-slide-ios7" style="background-color:black;">
      <!--ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button-->
    </ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button-clear pull-right" ng-hide="!showAdvisor||!advisor.length" ng-click="showAdvisorHelp()"><i class="icon ion-ios7-help"></i> Help</button>
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader bar-dark" style="text-align:center;vertical-align:middle;">
      <!--button class="button button-clear button-light"><img src="./img/gold.png"> {{stats.gold}}</button>
      <button class="button button-clear button-light">Rank {{stats.rank}}</button-->
      <img src="./img/gold.png" style="vertical-align:middle;"> {{stats.gold}} | #{{stats.rank}} | XP {{stats.experience}} | {{stats.turns}} Turns
      <br />Attacked {{stats.lastAttacked}} | {{stats.mails}} Mails
    </ion-header-bar>

    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">{{stats.username}}</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/base">
          Command Center
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/help">
          Help
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/settings">
          Settings
        </ion-item>
        <ion-item nav-clear menu-close href="#/logout">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
