<ion-view title="Recruit" hide-back-button="true" style="background-color:black;">

  <ion-content style="background-color:black;">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="reloadRecruit()" spinner="ripple"></ion-refresher>
    <div ng-hide="!recruitError.length" class="error center">{{recruitError}}</div>
    <div ng-hide="recruit.challenge_url!==undefined">
      <div style="text-align:center;">
        <img ng-src="data:image/png;base64,{{recruit.imageData}}" ng-hide="!recruit.imageData.length||recruitError.length" width="320" />
      </div>
      <div style="background-color:black; margin: 0px; padding: 0px;">
        <div class="row" style="margin: 0px; padding: 0px;">
          <div class="col col-33" style="text-align:center; padding-top: 0px; padding-bottom: 0px;">
            <button class="button button-outline button-block button-light" ng-disabled="disableActions" ng-click="sendLetter('k')">K</button>
          </div>
          <div class="col col-33" style="text-align:center; padding-top: 0px; padding-bottom: 0px;">
            <button class="button button-outline button-block button-light" ng-disabled="disableActions" ng-click="sendLetter('i')">I</button>
          </div>
          <div class="col col-33" style="text-align:center; padding-top: 0px; padding-bottom: 0px;">
            <button class="button button-outline button-block button-light" ng-disabled="disableActions" ng-click="sendLetter('n')">N</button>
          </div>
        </div>
        <div class="row" style="margin: 0px; padding: 0px;">
          <div class="col col-33" style="text-align:center; padding-top: 0px; padding-bottom: 0px;">
            <button class="button button-outline button-block button-light" ng-disabled="disableActions" ng-click="sendLetter('g')">G</button>
          </div>
          <div class="col col-33" style="text-align:center; padding-top: 0px; padding-bottom: 0px;">
            <button class="button button-outline button-block button-light" ng-disabled="disableActions" ng-click="sendLetter('c')">C</button>
          </div>
          <div class="col col-33" style="text-align:center; padding-top: 0px; padding-bottom: 0px;">
            <button class="button button-outline button-block button-light" ng-disabled="disableActions" ng-click="sendLetter('h')">H</button>
          </div>
        </div>
        <div class="row" style="margin: 0px; padding: 0px;">
          <div class="col col-33" style="text-align:center; padding-top: 0px; padding-bottom: 0px;">
            <button class="button button-outline button-block button-light" ng-disabled="disableActions" ng-click="sendLetter('a')">A</button>
          </div>
          <div class="col col-33" style="text-align:center; padding-top: 0px; padding-bottom: 0px;">
            <button class="button button-outline button-block button-light" ng-disabled="disableActions" ng-click="sendLetter('o')">O</button>
          </div>
          <div class="col col-33" style="text-align:center; padding-top: 0px; padding-bottom: 0px;">
            <button class="button button-outline button-block button-light" ng-disabled="disableActions" ng-click="sendLetter('s')">S</button>
          </div>
        </div>
      </div>
      <div class="list" style="background-color:black;">
        <div class="item item-text-wrap" style="background-color:black; border: 0; color: #444444;">
          <div class="row center">
            <div class="col center">
            Army Morale: {{recruit.morale}}
            </div>
          </div>
        </div>
        <div ng-hide="!speechRecognitionEnabled">
          <div class="item item-text-wrap" style="background-color:black; border: 0; color: #444444;">
            <div class="row center">
              <div class="col col-50 center">
                <button ng-click="startRecognition();" class="button button-block button-dark" ng-disabled="listening">Start recognition</button>
              </div>
              <div class="col col-50 center">
                <button ng-click="stopRecognition();" class="button button-block button-dark" ng-disabled="!listening">Stop recognition</button>
              </div>
            </div>
          </div>
        </div>
        <!--<div ng-hide="speechRecognitionSupported">-->
          <!--<div class="item item-text-wrap" style="background-color:black; border: 0; color: #444444;">-->
            <!--<div class="row center">-->
              <!--<div class="col center">-->
                <!--Your device doesn't support speech recognition-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div ng-hide="recruit.challenge_url===undefined">
        <form ng-submit="sendCaptcha()" name="captchaForm">
          <div class="list">
            <div class="item item-text-wrap">
              <div class="row center">
                <div class="col center">
                  <img ng-src="{{challengeImage}}" class="input input-block" ng-width="300" ng-height="57" />
                </div>
              </div>
            </div>
            <label class="item">
              <input type="text" name="response" ng-model="recruit.response" placeholder="Copy the text" ng-required="true" class="center">
            </label>
            <label class="item">
              <div class="error center">{{captchaError}}</div>
              <button class="button button-block button-stable" type="submit">I'm not a robot!</button>
            </label>
          </div>
        </form>
    </div>
  </ion-content>
</ion-view>
