<ion-view view-title="{{userStats.username}}">
  <ion-content style="background-color:black;">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="reloadStats()" spinner="bubbles"></ion-refresher>
    <div ng-hide="!statsError.length" class="error center">{{statsError}}</div>
      <div class="list">


				<div class="button-bar">
					<button class="button button-outline button-small button-assertive" ng-disabled="disableActions" ng-click="attack()"><i class="ion-knife"></i>&nbsp;&nbsp;{{attackButtonText}}</button>
					<button class="button button-outline button-small button-energized" ng-disabled="disableActions" ng-click="raid()"><i class="ion-knife"></i>&nbsp;&nbsp;{{raidButtonText}}</button>
					<button class="button button-outline button-small button-royal" ng-disabled="disableActions" ng-click="recon()"><i class="ion-search"></i>&nbsp;{{reconButtonText}}</button>
				</div>

        <div class="item item-divider item-dark">User Stats</div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Name</div>
            <div class="col col-50">{{userStats.username}}</div>
          </div>
          <div class="row" ng-click="showUserStats(userStats.commander.userid)">
            <div class="col col-50">Commander</div>
            <div class="col col-50" >{{userStats.commander.username}}</div>
            <div class="ion-chevron-right" ng-hide="userStats.commander.userid<0"></div>
          </div>
          <div class="row">
            <div class="col col-50">Alliances</div>
            <div class="col col-50">{{alliancesList(userStats.alliances)}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Race</div>
            <div class="col col-50">{{userStats.race}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Rank</div>
            <div class="col col-50">{{userStats.rank}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Highest Rank</div>
            <div class="col col-50">{{userStats.highestRank}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Army Size</div>
            <div class="col col-50">{{userStats.armySize}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Army Morale</div>
            <div class="col col-50">{{userStats.armyMorale}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Treasury</div>
            <div class="col col-50">{{userStats.goldText}} Gold</div>
          </div>
          <div class="row">
            <div class="col col-50">Fortifications</div>
            <div class="col col-50">{{userStats.fortification}}</div>
          </div>
          <div class="row">
            <div class="col col-50">Buddy Status</div>
            <div class="col col-50">{{userStats.buddyStatus}}</div>
          </div>
        </div>

				<div class="button-bar">
					<button class="button button-outline button-small button-assertive" ng-disabled="disableActions" ng-click="attack()"><i class="ion-knife"></i>&nbsp;&nbsp;{{attackButtonText}}</button>
					<button class="button button-outline button-small button-energized" ng-disabled="disableActions" ng-click="raid()"><i class="ion-knife"></i>&nbsp;&nbsp;{{raidButtonText}}</button>
					<button class="button button-outline button-small button-royal" ng-disabled="disableActions" ng-click="recon()"><i class="ion-search"></i>&nbsp;{{reconButtonText}}</button>
				</div>

        <div class="item item-divider item-dark">Officers ({{userStats.totalOfficersNb}})</div>
        <div class="item item-text-wrap" ng-repeat="officer in userStats.officers" ng-click="showUserStats(officer.userid)">
          <div class="row">
            <div class="col col-33">{{officer.username}}</div>
            <div class="col col-33">#{{officer.rank}}</div>
            <div class="col col-33">{{officer.armySize}} {{officer.race}}</div>
            <div class="ion-chevron-right"></div>
          </div>
        </div>
        <div ng-hide="!canChangeCommander">
          <div class="item item-divider item-dark">Change Commander</div>
          <button class="button button-block button-dark" ng-click="changeCommander()">Make {{userStats.username}} my commander!</button>
        </div>

        <div class="item item-divider item-dark">Message</div>
        <button class="button button-block button-dark" ng-click="sendMessage()">Send a message to {{userStats.username}}</button>
    </div>
  </ion-content>
</ion-view>
