<ion-view title="{{userStats.username==''?'Stats':userStats.username}}" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <button class="button button-small button-clear" ng-click="goBack()" ng-hide="!backView">
        <i class="ion-arrow-left-c"></i> Back</button>
  </ion-nav-buttons>
  <ion-content class="has-header" style="background-color:black;">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="reloadStats()"></ion-refresher>
    <div ng-hide="!statsError.length" class="error center">{{statsError}}</div>
      <div class="list">
        <div class="item item-divider item-dark">User Stats</div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Name</div>
            <div class="col col-50">{{userStats.username}}</div>
          </div>
        </div>
        <div class="item item-text-wrap" ng-click="showUserStats(userStats.commander.userid)">
          <div class="row">
            <div class="col col-50">Commander</div>
            <div class="col col-50" >{{userStats.commander.username}}</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Alliances</div>
            <div class="col col-50">{{alliancesList(userStats.alliances)}}</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Race</div>
            <div class="col col-50">{{userStats.race}}</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Rank</div>
            <div class="col col-50">{{userStats.rank}}</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Highest Rank</div>
            <div class="col col-50">{{userStats.highestRank}}</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Army Size</div>
            <div class="col col-50">{{userStats.armySize}}</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Army Morale</div>
            <div class="col col-50">{{userStats.armyMorale}}</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Treasury</div>
            <div class="col col-50">{{userStats.goldText}} Gold</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Fortifications</div>
            <div class="col col-50">{{userStats.fortification}}</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-50">Buddy Status</div>
            <div class="col col-50">{{userStats.buddyStatus}}</div>
          </div>
        </div>
        <div class="item item-divider item-dark">Officers ({{userStats.totalOfficersNb}})</div>
        <div class="item item-text-wrap" ng-repeat="officer in userStats.officers" ng-click="showUserStats(officer.userid)">
          <div class="row">
            <div class="col col-33">{{officer.username}}</div>
            <div class="col col-33">#{{officer.rank}}</div>
            <div class="col col-33">{{officer.armySize}} {{officer.race}}</div>
          </div>
        </div>
        <div ng-hide="!canChangeCommander">
          <div class="item item-divider item-dark">Change Commander</div>
          <button class="button button-block button-dark" ng-click="changeCommander()">Make {{userStats.username}} my commander!</button>
        </div>
    </div>
  </ion-content>
</ion-view>
