<ion-view view-title="Training" hide-back-button="true">

  <button class="button btn-rectangle btn-float" ng-hide="buyTotal<=0" ng-click="trainTroops()" ng-disabled="disableActions">
    Train {{soldiersTrained|number:0}} ({{buyTotal|number:0}})
  </button>

  <ion-content style="background-color:black;">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="reloadTraining()"></ion-refresher>
    <div ng-hide="!trainError.length" class="error center">{{trainError}}</div>
    <div class="list">
      <div>
        <div class="item item-divider item-dark">Train Your Troops</div>
        <div class="item item-text-wrap" ng-repeat="program in training.train" style="padding-left: 0; padding-right: 0;">
          <div class="row">
            <div class="col col-50" style="text-align:right;">{{program.trainingProgram}}</div>
            <div class="col col-50">{{program.costPerUnitText}}</div>
          </div>
					<div class="row">
						<div class="col" style="text-align:center;" ng-class="{bold:program.inputValue>0}">
							{{program.inputValue|number:0}} ({{program.inputValue*program.costPerUnit|number:0}} Gold)
						</div>
					</div>
          <div class="row" style="padding-left: 0; padding-right: 0;">
            <div class="col" style="text-align:center; padding-left: 0; padding-right: 0;">
              <button class="button button-stable" ng-disabled="disableActions||program.inputValue<11" ng-click="trainQuantity($index,-100)">-100</button>
              <button class="button button-stable" ng-disabled="disableActions||program.inputValue<2" ng-click="trainQuantity($index,-10)">-10</button>
              <button class="button button-stable" ng-disabled="disableActions||program.inputValue<1" ng-click="trainQuantity($index,-1)">-1</button>
							<button class="button button-stable" ng-disabled="disableActions||(personnel['Untrained Soldiers']-(soldiersTrained|number:0))<1" ng-click="trainQuantity($index,+1)">+1</button>
              <button class="button button-stable" ng-disabled="disableActions||(personnel['Untrained Soldiers']-(soldiersTrained|number:0))<10" ng-click="trainQuantity($index,+10)">+10</button>
              <button class="button button-stable" ng-disabled="disableActions||(personnel['Untrained Soldiers']-(soldiersTrained|number:0))<100" ng-click="trainQuantity($index,+100)">+100</button>
            </div>
          </div>
        </div>
        <div class="item item-divider item-stable">
          <div class="error center" ng-hide="buyTotal<stats.gold">More than you seem to be able to afford!</div>
          <button class="button button-block button-dark" ng-disabled="disableActions" ng-click="trainTroops()">Train {{soldiersTrained|number:0}} Soldiers for {{buyTotal|number:0}} Gold</button>
        </div>
      </div>
      <div ng-repeat="upgrade in training.upgrades">
        <div class="item item-divider item-dark">{{upgrade.title}}</div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col" style="text-align:center;">{{upgrade.currentTitle}}: <b>{{upgrade.currentLevel}}</b></div>
          </div>
          <div class="row">
          <button class="button button-block button-dark" ng-disabled="disableActions" ng-click="upgradeTechnology($index)">
            {{upgrade.upgradeName}} for {{upgrade.cost}}
          </button>
          </div>
        </div>
      </div>
      <div>
        <div class="item item-divider item-dark">Current Personnel</div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-75">Trained Attack Soldiers</div>
            <div class="col" style="text-align: right;">{{personnel['Trained Attack Soldiers']}}</div>
          </div>
          <div class="row">
            <div class="col col-75">Trained Attack Mercenaries</div>
            <div class="col" style="text-align: right;">{{personnel['Trained Attack Mercenaries']}}</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-75">Trained Defense Soldiers</div>
            <div class="col" style="text-align: right;">{{personnel['Trained Defense Soldiers']}}</div>
          </div>
          <div class="row">
            <div class="col col-75">Trained Defense Mercenaries</div>
            <div class="col" style="text-align: right;">{{personnel['Trained Defense Mercenaries']}}</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-75">Untrained Soldiers</div>
            <div class="col" style="text-align: right;">{{personnel['Untrained Soldiers']}}</div>
          </div>
          <div class="row">
            <div class="col col-75">Untrained Mercenaries</div>
            <div class="col" style="text-align: right;">{{personnel['Untrained Mercenaries']}}</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-75">Spies</div>
            <div class="col" style="text-align: right;">{{personnel['Spies']}}</div>
          </div>
          <div class="row">
            <div class="col col-75">Sentries</div>
            <div class="col" style="text-align: right;">{{personnel['Sentries']}}</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col col-75">Army Morale</div>
            <div class="col" style="text-align: right;">{{personnel['Army Morale']}}</div>
          </div>
          <div class="row">
            <div class="col col-75">Total Fighting Force</div>
            <div class="col" style="text-align: right;">{{personnel['Total Fighting Force']}}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
