/* Empty. Add your own CSS if you like */
.koc_logo {
    padding-top: 15px;
    text-align: center;
    width: 100%;
}

.error {
    color: red;
}

.newMails {
    color: rgb(247, 71, 97);
}

.center {
    text-align: center;
}