/* Empty. Add your own CSS if you like */
.koc_logo {
    padding-top: 15px;
    text-align: center;
    width: 100%;
}

.error {
    color: red;
}

.newMails {
    color: rgb(247, 71, 97);
}

.center {
    text-align: center;
}

.btn-round{
  border-radius:50% !important;
  height: 45px !important;
  width: 45px !important;
  min-height: 45px !important;
  min-width: 45px !important;
}

.btn-rectangle{
  border-radius:25% !important;
  height: 45px !important;
/*  width: 45px !important;*/
  min-height: 45px !important;
  min-width: 45px !important;
}

.btn-float{
  position: absolute !important;
  bottom: 55px;
  z-index: 2;
  right: 10px;
}